*/*
*.tar.gz
/assignments/PA2J/*.class
/assignments/PA2J/lexer
!/assignments/PA2J/
/assignments/PA3J/*.class
/assignments/PA3J/lexer
/assignments/PA3J/cgen
/assignments/PA3J/semant
/assignments/PA3J/parser
/assignments/PA3J/*.output
!/assignments/PA3J/
/assignments/PA4J/*.class
/assignments/PA4J/lexer
/assignments/PA4J/cgen
/assignments/PA4J/semant
/assignments/PA4J/parser
!/assignments/PA4J/
